

<img  *ngFor="let carte of paquetDeCartes " (click)="ajouterCarte(carte)" [src]=carte.urlPhoto>

<img  *ngFor="let carte of cartesCourantes " (click)="retirerCarte(carte)" [src]=carte.urlPhoto>

<button type="button" class="btn btn-primary" (click)="appelApiPrevision()" [disabled]="cartesCourantes.length>4?false:true">Primary</button>
<table class="table"  style="width: 50%"  >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">A</th>
      <th scope="col">R</th>
      <th scope="col">D</th>
      <th scope="col">V</th>
      <th scope="col">10</th>
      <th scope="col">9</th>
      <th scope="col">8</th>
      <th scope="col">7</th>
      <th scope="col">6</th>
      <th scope="col">5</th>
      <th scope="col">4</th>
      <th scope="col">3</th>
      <th scope="col">2</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let elements of rangeDeGagneColor ">
      <th scope="row" >{{elements[0]}}</th>
      <td *ngFor="let element of elements" [ngStyle]="{'background-color': 'rgb(' + element + ')'}"  >{{element}}</td>
    </tr>

  </tbody>
</table>
<p>{{prevision.pourcentageDeGagne}}</p>

